/*

	CSS StyleSheet Chat Application
	
*/

html, body {
	margin:0px;
	padding: 0px;
}

#messages {
	width: 100%;
	height: 380px;
	padding: 5px;
	margin: 10px;
	border: 1px #CCC;
	overflow: auto;
	color: #0A0A2A;
}

#input {
	padding: 10px;
}

#feedback {
	display: none;
}